@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
header nav {
  width: 100%;
  max-width: 20rem;
  display: flex;
  justify-content: space-between;
}
header nav a {
  font-size: 1.3rem;
  color: hsl(238deg, 22%, 44%);
  cursor: pointer;
  transition: 0.4s;
}
header nav a:hover {
  color: black;
  transform: translateY(-0.17rem);
}

#first_section {
  width: 100%;
  height: 35rem;
  display: flex;
  margin-bottom: 4rem;
}
#first_section article {
  width: 50%;
  padding: 6rem 3rem;
}
#first_section article h1 {
  font-size: 2.6rem;
  line-height: 60px;
  margin-bottom: 1rem;
  color: hsl(243deg, 87%, 12%);
}
#first_section article p {
  font-size: 1.2rem;
  line-height: 25px;
  color: hsl(238deg, 22%, 44%);
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.5rem;
}
#first_section article #text {
  width: 10%;
  max-width: 22rem;
  height: 3rem;
  font-size: 1rem;
  padding: 0rem 3rem;
  border: 0.13rem black solid;
  font-weight: 700;
  border-radius: 0.3rem;
  background: url(../images/mail.svg) no-repeat;
  background-size: 2rem;
  background-position-x: 0.5rem;
  background-position-y: 0.5rem;
  transition: width 0.5s ease-in-out;
  margin-right: 1rem;
}
#first_section article #text::-moz-placeholder {
  color: hsl(0deg, 0%, 75%);
}
#first_section article #text:-ms-input-placeholder {
  color: hsl(0deg, 0%, 75%);
}
#first_section article #text::placeholder {
  color: hsl(0deg, 0%, 75%);
}
#first_section article #text:focus {
  width: 100%;
}
#first_section article #btn {
  width: 100%;
  max-width: 14rem;
  height: 3rem;
  background-color: hsl(224deg, 93%, 58%);
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  color: white;
  font-weight: 700;
  transition: 0.4s;
}
#first_section article #btn:hover {
  transform: translateY(-0.2rem);
}
#first_section .hero_image {
  width: 50%;
  padding: 2rem;
}
#first_section .hero_image img {
  width: 100%;
  height: 30rem;
}

.background {
  width: 100%;
  height: 7rem;
  background: url(../images/bg-curve-desktop.svg) no-repeat;
  background-size: cover;
}

#secund_section {
  height: 41rem;
  padding: 3rem;
  display: flex;
  background-color: hsl(240deg, 75%, 98%);
}
#secund_section article {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#secund_section article h2 {
  font-size: 2.3rem;
  color: hsl(243deg, 87%, 12%);
}
#secund_section article .never {
  width: 100%;
  max-width: 38rem;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: hsl(243deg, 87%, 12%);
}
#secund_section article a {
  width: 100%;
  max-width: 11.3rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  color: hsl(170deg, 45%, 43%);
  border-bottom: 0.06rem hsl(170deg, 45%, 43%) solid;
}
#secund_section article a img {
  transition: 0.4s;
}
#secund_section article a img:hover {
  transform: translateX(0.3rem);
}
#secund_section article .card {
  width: 100%;
  max-width: 25rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.03);
  transition: 0.4s;
}
#secund_section article .card .quotes {
  width: 100%;
  max-width: 1rem;
}
#secund_section article .card .card_p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.7rem;
  color: hsl(238deg, 22%, 44%);
}
#secund_section article .card .profile_card {
  width: 100%;
  max-width: 12rem;
  justify-content: space-between;
  display: flex;
}
#secund_section article .card .profile_card img {
  width: 100%;
  max-width: 2rem;
  border-radius: 50%;
}
#secund_section article .card .profile_card .name_profile {
  height: 2.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#secund_section article .card .profile_card .name_profile h3 {
  font-family: "Open Sans", sans-serif;
  color: hsl(243deg, 87%, 12%);
}
#secund_section article .card .profile_card .name_profile .founder {
  font-size: 0.8rem;
}
#secund_section article .card:hover {
  transform: scale(1.02);
}
#secund_section .image_secund {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#secund_section .image_secund img {
  width: 100%;
  max-width: 40rem;
}

#access {
  height: 17rem;
  display: flex;
  background-color: hsl(238deg, 22%, 44%);
}
#access .access_text {
  width: 50%;
  height: 17rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#access .access_text h3 {
  font-size: 2rem;
  color: hsl(240deg, 75%, 98%);
}
#access .access_text p {
  width: 100%;
  max-width: 34rem;
  font-size: 1.1rem;
  color: hsl(240deg, 75%, 98%);
}
#access form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#access form #input_email_two {
  width: 100%;
  max-width: 35rem;
  height: 3rem;
  font-size: 1rem;
  padding: 0rem 1.5rem;
  border: 0.13rem white solid;
  font-weight: 700;
  border-radius: 0.3rem;
  background-color: white;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
#access form #input_email_two::-moz-placeholder {
  color: hsl(0deg, 0%, 75%);
}
#access form #input_email_two:-ms-input-placeholder {
  color: hsl(0deg, 0%, 75%);
}
#access form #input_email_two::placeholder {
  color: hsl(0deg, 0%, 75%);
}
#access form #input_submit_two {
  width: 100%;
  max-width: 14rem;
  height: 3rem;
  background-color: hsl(224deg, 93%, 58%);
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  color: white;
  font-weight: 700;
  transition: 0.4s;
}
#access form #input_submit_two:hover {
  transform: translateX(0.2rem);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: hsl(243deg, 87%, 12%);
}
footer .logo {
  width: 100%;
  padding: 3rem;
}
footer .logo img {
  width: 100%;
  max-width: 11rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(313deg) brightness(105%) contrast(101%);
}
footer .contacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer .contacts .phone_email {
  height: 9.2rem;
  padding: 0rem 3.5rem;
  color: white;
  display: flex;
  flex-direction: column;
}
footer .contacts .phone_email .phone {
  width: 100%;
  max-width: 9.3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
footer .contacts .phone_email .email {
  width: 100%;
  max-width: 10.7rem;
  display: flex;
  justify-content: space-between;
}
footer .contacts .social ul {
  width: 100%;
  max-width: 8rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
footer .contacts .social ul li {
  width: 100%;
  max-width: 2rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(313deg) brightness(105%) contrast(101%);
}
footer .about ul {
  width: 100%;
  max-width: 6rem;
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
}
footer .about ul li {
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
  cursor: pointer;
}
footer .about ul li:hover {
  color: hsl(224deg, 93%, 58%);
  transform: translateX(0.1rem);
}
footer .about:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .about:nth-child(3) ul {
  height: 6rem;
}
footer .social ul {
  cursor: pointer;
}
footer .social ul li {
  transition: 0.4s;
}
footer .social ul li:hover {
  transform: translateY(-0.2rem);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */